araizuma.xcodeproj/project.xcworkspace/xcuserdata/Haruka.xcuserdatad/UserInterfaceState.xcuserstate
araizuma.xcodeproj/xcuserdata/Haruka.xcuserdatad/xcschemes/araizuma.xcscheme
araizuma.xcodeproj/xcuserdata/Haruka.xcuserdatad/xcschemes/xcschememanagement.plist
araizuma.xcodeproj/project.xcworkspace/xcshareddata/araizuma.xccheckout